In [8]:
import pandas as pd
import seaborn as sns
import numpy as np
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import LabelEncoder

In [9]:
data = pd.read_csv('Tugas4_2006473945_MuhammadIqbalAsrif.csv')
data.head()

,Unnamed: 0,diposting_oleh,sedang_pembangunan,disetujui_pemerintah,total_ruangan,tipe_a_atau_b,kaki_persegi,siap_pindah,dijual_kembali,alamat,longitude,latitude,harga,harga_per_kaki_persegi,harga_per_ruang
0,0,Owner,0,0,2,tipe_b,1300.236407,1,1,"Ksfc Layout,Bangalore",77.597960,12.969910,55.0,0.04230,27.50
1,1,Dealer,0,0,2,tipe_b,1275.000000,1,1,"Vishweshwara Nagar,Mysore",76.644605,12.274538,51.0,0.04000,25.50
2,2,Owner,0,0,2,tipe_b,933.159722,1,1,"Jigani,Bangalore",77.632191,12.778033,43.0,0.04608,21.50
3,3,Owner,0,1,2,tipe_b,929.921143,1,1,"Sector-1 Vaishali,Ghaziabad",77.344500,28.642300,62.5,0.06721,31.25
4,4,Dealer,1,0,2,tipe_b,999.009247,0,1,"New Town,Kolkata",88.484911,22.592200,60.5,0.06056,30.25

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23735 entries, 0 to 23734
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              23735 non-null  int64
 1   diposting_oleh          23735 non-null  object
 2   sedang_pembangunan      23735 non-null  int64
 3   disetujui_pemerintah    23735 non-null  int64
 4   total_ruangan           23735 non-null  int64
 5   tipe_a_atau_b           23735 non-null  object
 6   kaki_persegi            23735 non-null  float64
 7   siap_pindah             23735 non-null  int64
 8   dijual_kembali          23735 non-null  int64
 9   alamat                  22082 non-null  object
 10  longitude               23735 non-null  float64
 11  latitude                23735 non-null  float64
 12  harga                   23735 non-null  float64
 13  harga_per_kaki_persegi  23735 non-null  float64
 14  harga_per_ruang         23735 non-null  float64
dtypes: float64(6), int64(6), object(3)
memory usage: 2.7+ MB

In [11]:
data.drop('alamat', axis=1, inplace=True)

In [12]:
Q1 = data['total_ruangan'].quantile(0.25)
Q3 = data['total_ruangan'].quantile(0.75)
IQR = Q3 - Q1

In [13]:
data = data[~((data['total_ruangan'] < (Q1 - 1.5 * IQR)) | (data['total_ruangan'] > (Q3 + 1.5 * IQR)))]
data.shape

(23702, 14)

In [14]:
X = data[['harga_per_ruang', 'harga_per_kaki_persegi', 'latitude', 'longitude']]
y = data['harga']

In [15]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle=True)

In [16]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()

X_train_scaled = sc.fit_transform(X_train)
X_test_scaled = sc.transform(X_test)

In [17]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor()
rf.fit(X_train_scaled, y_train)
rf.score(X_test_scaled, y_test)

0.8452110600192251