In [147]:
import pandas as pd

In [148]:
data_train = pd.read_csv('dataset_harga_rumah.csv')
data_train.head()

,diposting_oleh,sedang_pembangunan,disetujui_pemerintah,total_ruangan,tipe_a_atau_b,kaki_persegi,siap_pindah,dijual_kembali,alamat,longitude,latitude,harga
0,Owner,0.0,0,2.0,tipe_a,1300.236407,1,1,"Ksfc Layout,Bangalore",12.969910,77.597960,55.0
1,Dealer,0.0,0,2.0,tipe_a,1275.0,1,1,"Vishweshwara Nagar,Mysore",12.274538,76.644605,51.0
2,Owner,0.0,0,2.0,tipe_a,933.1597222,1,1,"Jigani,Bangalore",12.778033,77.632191,43.0
3,Owner,0.0,1,2.0,tipe_a,929.9211427,1,1,"Sector-1 Vaishali,Ghaziabad",28.642300,77.344500,62.5
4,Dealer,1.0,0,2.0,tipe_a,999.009247,0,1,"New Town,Kolkata",22.592200,88.484911,60.5

In [149]:
data_tes = pd.read_csv('DataForTest.csv')
data_tes.head()

,diposting_oleh,sedang_pembangunan,disetujui_pemerintah,total_ruangan,tipe_a_atau_b,kaki_persegi,siap_pindah,dijual_kembali,alamat,longitude,latitude
0,Owner,0,0,1,tipe_a,545.171340,1,1,"Kamrej,Surat",21.262000,73.047700
1,Dealer,1,1,2,tipe_a,800.000000,0,0,"Panvel,Lalitpur",18.966114,73.148278
2,Dealer,0,0,2,tipe_a,1257.096513,1,1,"New Town,Kolkata",22.592200,88.484911
3,Dealer,0,0,3,tipe_a,1400.329489,1,1,"Kalwar Road,Jaipur",26.988300,75.584600
4,Owner,0,0,1,tipe_a,430.477830,1,1,"Mai Mandir,Nadiad",22.700000,72.870000

In [150]:
data_train.describe()

,sedang_pembangunan,disetujui_pemerintah,total_ruangan,longitude,latitude,harga
count,27476.000000,29451.000000,28071.000000,29451.000000,26008.000000,29451.000000
mean,0.179684,0.317918,2.392220,21.300255,76.820157,142.898746
std,0.383931,0.465675,0.882229,6.205306,10.697823,656.880713
min,0.000000,0.000000,1.000000,-37.713008,-121.761248,0.250000
25%,0.000000,0.000000,2.000000,18.452663,73.798100,38.000000
50%,0.000000,0.000000,2.000000,20.750000,77.326330,62.000000
75%,0.000000,1.000000,3.000000,26.900926,77.943705,100.000000
max,1.000000,1.000000,20.000000,59.912884,152.962676,30000.000000

In [151]:
data_tes.describe()

,sedang_pembangunan,disetujui_pemerintah,total_ruangan,kaki_persegi,siap_pindah,dijual_kembali,longitude,latitude
count,68720.000000,68720.000000,68720.000000,6.872000e+04,68720.000000,68720.000000,68720.000000,68720.000000
mean,0.176557,0.316531,2.388198,2.762419e+03,0.823443,0.933498,21.288045,76.919388
std,0.381296,0.465126,0.864577,1.640991e+05,0.381296,0.249159,6.179034,10.100950
min,0.000000,0.000000,1.000000,1.000000e+00,0.000000,0.000000,-38.391261,-118.354100
25%,0.000000,0.000000,2.000000,9.000310e+02,1.000000,1.000000,18.452663,73.798100
50%,0.000000,0.000000,2.000000,1.174982e+03,1.000000,1.000000,20.933260,77.324966
75%,0.000000,1.000000,3.000000,1.550265e+03,1.000000,1.000000,26.888396,78.000723
max,1.000000,1.000000,31.000000,4.016393e+07,1.000000,1.000000,65.183330,175.278040

In [152]:
# Terlihat bahwa longitude memiliki nilai -37 sampai 59 sedangkan latitude memiliki nilai -121 sampai 152
# Berdasarkan data yang didapat dari google, India memiliki latitude 8°4'N and 37°6'N and longitudes 68°7'E and 97°25'E.
# Oleh karena itu, latitude dan longitude perlu ditukar
data_train['latitude'], data_train['longitude'] = data_train['longitude'], data_train['latitude']
data_tes['latitude'], data_tes['longitude'] = data_tes['longitude'], data_tes['latitude']

In [153]:
def cek_null(df):
    col_na = df.isnull().sum().sort_values(ascending=True)
    percent = col_na / len(df)
    
    missing_data = pd.concat([col_na, percent], axis=1, keys=['Total', 'Percent'])
    
    if (missing_data[missing_data['Total'] > 0].shape[0] == 0):
        print("Tidak ditemukan missing value pada dataset")
        
    else:
        print(missing_data[missing_data['Total'] > 0])

In [154]:
cek_null(data_train)

                    Total   Percent
total_ruangan        1380  0.046857
kaki_persegi         1686  0.057248
sedang_pembangunan   1975  0.067061
alamat               2015  0.068419
longitude            3443  0.116906

In [155]:
for i in data_train:
    display(f"{i}: {data_train[i].unique()}")

"diposting_oleh: ['Owner' 'Dealer' 'Builder']"

'sedang_pembangunan: [ 0.  1. nan]'

'disetujui_pemerintah: [0 1]'

'total_ruangan: [ 2.  3.  1.  4.  5.  6. nan 12.  8. 20. 10.  7.  9. 13. 17. 15. 11.]'

"tipe_a_atau_b: ['tipe_a' 'tipe_b']"

"kaki_persegi: ['1300.236407' '1275.0' '933.1597222' ... '1022.641509' '927.0790093'\n '896.7741935']"

"siap_pindah: ['1' '0' 'testes' 'a' 'awa' '1-1-1-' 'benar' 'salah' 'asik']"

"dijual_kembali: ['1' '0' 'Aku paling benar' 'SALAH' 'Semangat Dek']"

"alamat: ['Ksfc Layout,Bangalore' 'Vishweshwara Nagar,Mysore' 'Jigani,Bangalore'\n ... 'west mambalam,Chennai' 'Gandhi Nagar,Gulbarga'\n 'E3-108, Lake View Recidency,,Vapi']"

'longitude: [ 77.59796   76.644605  77.632191 ...  73.3321    76.841908 -86.150721]'

'latitude: [12.96991  12.274538 12.778033 ... 18.9737   17.357159 39.945409]'

'harga: [  55.    51.    43.  ... 1170.  8660.    18.3]'

In [156]:
data_train['kaki_persegi'].mask(data_train['kaki_persegi'].isin(['1-1-1-', 'a', 'asik', 'awa', 'benar', 'salah', 'testes']), None, inplace=True)
data_train['siap_pindah'].mask(data_train['siap_pindah'].isin(['testes', 'a', 'awa', '1-1-1-', 'benar', 'salah', 'asik']), None, inplace=True)
data_train['dijual_kembali'].mask(data_train['dijual_kembali'].isin(['Aku paling benar', 'SALAH', 'Semangat Dek']), None, inplace=True)

In [157]:
for i in ['total_ruangan', 'kaki_persegi', 'longitude']:
    data_train[i].fillna(data_train[i].median(), inplace=True)

In [158]:
for i in ['siap_pindah', 'dijual_kembali', 'sedang_pembangunan']:
    data_train[i].fillna(data_train[i].mode()[0], inplace=True)

In [159]:
import numpy as np

In [160]:
for i in ['sedang_pembangunan', 'total_ruangan', 'siap_pindah', 'dijual_kembali']:
    data_train[i] = data_train[i].astype(np.int64)

data_train['kaki_persegi'] = data_train['kaki_persegi'].astype(np.float64)

In [161]:
data_train.rename(columns={'tipe_a_atau_b': 'tipe_properti'}, inplace=True)

In [162]:
data_train['tipe_properti'].mask(data_train['total_ruangan'] == 1, 'studio', inplace=True)
data_train['tipe_properti'].mask(data_train['total_ruangan'] == 2, 'tipe_b', inplace=True)
data_train['tipe_properti'].mask(data_train['total_ruangan'] == 3, 'tipe_a', inplace=True)
data_train['tipe_properti'].mask(data_train['total_ruangan'] > 3, 'tipe_c', inplace=True)

In [163]:
data_train.drop_duplicates(inplace=True)

In [164]:
data_tes.rename(columns={'tipe_a_atau_b': 'tipe_properti'}, inplace=True)

In [165]:
data_tes['tipe_properti'].mask(data_tes['total_ruangan'] == 1, 'studio', inplace=True)
data_tes['tipe_properti'].mask(data_tes['total_ruangan'] == 2, 'tipe_b', inplace=True)
data_tes['tipe_properti'].mask(data_tes['total_ruangan'] == 3, 'tipe_a', inplace=True)
data_tes['tipe_properti'].mask(data_tes['total_ruangan'] > 3, 'tipe_c', inplace=True)

In [166]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [167]:
data_train['diposting_oleh'] = le.fit_transform(data_train['diposting_oleh'])
data_tes['diposting_oleh'] = le.transform(data_tes['diposting_oleh'])

In [168]:
keys = le.classes_
values = le.transform(keys)
diposting_oleh = dict(zip(keys, values))
diposting_oleh

{'Builder': 0, 'Dealer': 1, 'Owner': 2}

In [169]:
data_train['tipe_properti'] = le.fit_transform(data_train['tipe_properti'])
data_tes['tipe_properti'] = le.fit_transform(data_tes['tipe_properti'])

In [170]:
keys = le.classes_
values = le.transform(keys)
data_properti = dict(zip(keys, values))
data_properti

{'studio': 0, 'tipe_a': 1, 'tipe_b': 2, 'tipe_c': 3}

In [171]:
data_train['harga_per_kaki_persegi'] = data_train.apply(lambda row: row['harga'] / row['kaki_persegi'], axis=1)
data_train['harga_per_ruang'] = data_train.apply(lambda row: row['harga'] / row['total_ruangan'], axis=1)
data_train['ruang_per_kaki_persegi'] = data_train.apply(lambda row: row['total_ruangan'] / row['kaki_persegi'], axis=1)

In [172]:
Q1 = data_train['harga_per_kaki_persegi'].quantile(0.25)
Q3 = data_train['harga_per_kaki_persegi'].quantile(0.75)
IQR = Q3 - Q1

data_train = data_train[~((data_train['harga_per_kaki_persegi'] < (Q1 - 1.5 * IQR)) | (data_train['harga_per_kaki_persegi'] > (Q3 + 1.5 * IQR)))]
data_train.shape

(26251, 15)

In [173]:
Q1 = data_train['harga_per_ruang'].quantile(0.25)
Q3 = data_train['harga_per_ruang'].quantile(0.75)
IQR = Q3 - Q1

data_train = data_train[~((data_train['harga_per_ruang'] < (Q1 - 1.5 * IQR)) | (data_train['harga_per_ruang'] > (Q3 + 1.5 * IQR)))]
data_train.shape

(24934, 15)

In [174]:
Q1 = data_train['ruang_per_kaki_persegi'].quantile(0.25)
Q3 = data_train['ruang_per_kaki_persegi'].quantile(0.75)
IQR = Q3 - Q1

data_train = data_train[~((data_train['ruang_per_kaki_persegi'] < (Q1 - 1.5 * IQR)) | (data_train['ruang_per_kaki_persegi'] > (Q3 + 1.5 * IQR)))]
data_train.shape

(23803, 15)

In [175]:
for i in ['kaki_persegi', 'total_ruangan']:
    data_train[i] = np.log(data_train[i])
    data_tes[i] = np.log(data_tes[i])

In [176]:
X = data_train[['tipe_properti', 'total_ruangan', 'kaki_persegi', 'latitude', 'longitude']]
y = data_train['harga']

In [177]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle=True)

In [178]:
from sklearn.preprocessing import MinMaxScaler

sc = MinMaxScaler()

X_train_scaled = sc.fit_transform(X_train)
X_test_scaled = sc.transform(X_test)

In [179]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(X_train_scaled, y_train)
lr.score(X_test_scaled, y_test)

0.4146276910622022

In [180]:
from sklearn.preprocessing import PolynomialFeatures

pf = PolynomialFeatures()
poly_features = pf.fit_transform(X_train_scaled)

lr = LinearRegression()
lr.fit(poly_features, y_train)

poly_features = pf.transform(X_test_scaled)
lr.score(poly_features, y_test)

0.4959282112591622

In [181]:
from sklearn.tree import DecisionTreeRegressor

dt = DecisionTreeRegressor()
dt.fit(X_train_scaled, y_train)
dt.score(X_test_scaled, y_test)

0.5707142396429522

In [182]:
from sklearn.neighbors import KNeighborsRegressor

kn = KNeighborsRegressor()
kn.fit(X_train_scaled, y_train)
kn.score(X_test_scaled, y_test)

0.6581317950511003

In [183]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor()
rf.fit(X_train_scaled, y_train)
rf.score(X_test_scaled, y_test)

0.7459889733181118